body {
    font-family: Arial, sans-serif;
    background-color: #bae673;
    margin: 0;
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}