body {
    background-color: #ffb6c1;
    color: #333;
    font-family: Arial, sans-serif;
}


.description {
  width: 600px;  
}

.ga-maamli-regular, h1 {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #007bff;
  }

  h3 {
    font-family: "Ga Maamli";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
  }

  #image {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }

  .left {
    width: 600px;
    float: left;
    margin-right: 30px;
  }

  .right {
    width: 600px;
    float: right;
    margin-left: 30px;
  }